*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  padding: 2rem;
  font-family: "lato",sans-serif;
  font-weight: 400; }

a {
  text-decoration: none; }

.heading-primary {
  text-transform: uppercase;
  font-size: 2.3rem;
  background-image: linear-gradient(to right); }

.header {
  display: flex;
  justify-content: space-between;
  background-color: #444444;
  padding: 1.5rem 0;
  align-items: center; }
  .header__paragraph {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1rem 3rem; }
  .header__logo {
    width: 0; }
  .header__img {
    height: 3.5rem;
    width: 6.8rem; }
  .header__button {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 400; }
    .header__button--signup {
      border-radius: 100px;
      border: #ffffff solid 2px; }

.main {
  background-color: #F7F7F7; }
  .main__login {
    display: flex;
    justify-content: center;
    margin-top: auto;
    height: 100vh;
    align-items: center; }
