.footer {
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;

  @include responsive(tablet) {
    flex-direction: column;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-text {
      @include primary-grediant;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-left: 0.3rem;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    @include responsive(tablet) {
      margin: 1rem 0;
    }
  }

  &__item {
    padding: 0.5rem;
    font-size: 1.4rem;
    @include responsive(phone) {
      font-size: 1rem;
    }
    color: $color-text;
  }
  &__copyright {
    padding: 0.5rem;
    display: flex;
    color: $color-grey-dark;
    font-size: 1.4rem;
    justify-content: flex-end;

    @include responsive(tablet) {
      justify-content: center;
    }

    @include responsive(phone) {
      font-size: 1rem;
    }
  }
}
