.header {
  height: 85vh;
  width: 100%;
  background-image: linear-gradient(
      to top,
      rgba($color-white, 0),
      rgba($color-black, 0.8)
    ),
    url(../img/bg-header.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 41px;

  &__logo-box {
    width: 12.9rem;
    height: 3.9rem;
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: $color-white;
  }

  &__menu-box {
    width: 30%;
  }

  &__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;

    .menu__item {
      .menu__link {
        padding-right: 2rem;
        text-decoration: none;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
      }
    }
  }

  &__join-box {
  }

  &__join {
    list-style: none;
    display: flex;
    justify-content: space-around;

    .join__item {
    }

    .join__link {
      padding-right: 1.3rem;
      text-decoration: none;
      font-size: 1.6rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;

      &-text {
        color: $color-white;
        font-weight: 500;
      }

      &-btn {
        background-color: $color-white;
        color: $color-primary;
        padding: 0.6rem 3.1rem 0.5rem 3.2rem;
        width: 10rem;
        height: 3rem;
        border-radius: 50px;
        font-weight: bold;
      }
    }
  }
}
