@mixin primary-grediant {
  background-image: linear-gradient(
    to right,
    $color-green-light,
    $color-green-dark
  );
  -webkit-background-clip: text;
  color: transparent;
}

@mixin responsive($break) {
  @if $break == small-phone {
    @media only screen and (max-width: $br-sphone) {
      @content;
    }
  }
  @if $break == phone {
    @media only screen and (max-width: $br-phone) {
      @content;
    }
  }
  @if $break == tablet {
    @media only screen and (max-width: $br-tablet) {
      @content;
    }
  }
  @if $break == tabland {
    @media only screen and (max-width: $br-tabland) {
      @content;
    }
  }
}
