$color-primary: #444444;
$color-white: #ffffff;
$color-black: #000;
$color-secondary: #55c57a;
$color-secondary-dark: #3a9a5a;

$color-green-light: #7cd46f;
$color-green-dark: #2ab586;

$color-grey-light: #f2f2f2;
$color-grey-dark: #999999;

$color-background: #f7f7f7;
$color-background-main: #f3f3f3;

$color-text: #777777;

$color-input-border: #fe6813;

$color-card-primary: #38c164c7;
$color-card-secondary: #0cb64479;

$color-card-text-primary: #07a636db;
$color-card-text-secondary: #23e95d7d;

//for media ---------------------------------
$br-sphone: 23.45em; //375px
$br-phone: 37.5em; //600px
$br-tablet: 43.75em; //700px
$br-tabland: 81.25em; //1300px
$br-huge:96.87em; //1920px