$color-primary: #444444;
$color-white: #ffffff;
$color-black: #000;
$color-secondary: #55c57a;
$color-secondary-dark: #3a9a5a;

$color-green-light: #7cd46f;
$color-green-dark: #2ab586;

$color-grey-light: #f2f2f2;
$color-grey-dark: #999999;

$color-background: #f7f7f7;
$color-background-main:#F3F3F3;

$color-text: #777777;

$color-input-border: #fe6813;

$color-card-primary:#38C164C7;
$color-card-secondary:#0CB64479;

$color-card-text-primary:#07A636DB;
$color-card-text-secondary:#23E95D7D;

//for media ---------------------------------
$br-sphone: 23.45em; //375px
$br-phone: 37.5em; //600px
$br-tablet: 43.75em; //700px
