$color-primary: #444444;
$color-white: #ffffff;
$color-secondary: #55c57a;

$color-green-light: #7cd46f;
$color-green-dark: #2ab586;

$color-grey-light: #f2f2f2;
$color-grey-dark: #999999;

$color-background: #f7f7f7;

$color-text: #777777;

$color-input-border: #fe6813;
