.form {
  padding: 5rem 7rem;
  width: 60rem;
  background-color: $color-white;
  border-radius: 0.5rem;

  @include responsive(phone) {
    padding: 5rem 2rem;
  }

  @include responsive(tablet) {
    margin: 2.5rem;
  }

  &__group > div {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 4rem;
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-text;
  }

  &__input {
    width: 100%;
    border: none;
    background-color: $color-grey-light;
    padding: 1.5rem;
    border-radius: 0.3rem;
    outline: none;
    font-size: 1.5rem;
    border-bottom: $color-grey-light 3px solid;

    &:focus {
      border-bottom: $color-input-border 3px solid;
    }

    &::placeholder {
      color: $color-grey-dark;
    }

    transition: all 0.3s;
  }
}
