.form {
  padding: 5rem 7rem;
  background-color: $color-white;
  border-radius: 0.5rem;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 4rem;
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-text;
  }

  &__input {
    width: 100%;
    border: none;
    background-color: $color-grey-light;
    padding: 1rem;
    border-radius: 0.3rem;
    outline: none;
    font-size: 1rem;
    border-bottom: $color-grey-light 3px solid;

    &:focus {
      border-bottom: $color-input-border 3px solid;
    }

    &::placeholder {
      color: $color-grey-dark;
    }

    transition: all .3s;
  }

  &__button {
    padding: 1rem 3.5rem;
    border-radius: 100px;
    border: none;
    background-color: $color-secondary;
    color: $color-background;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover{
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
    }

    &:focus{
      transform: translateY(-1px);
      box-shadow: 0 0.4rem 0.6rem rgba($color-black, 0.5);
    }
  }
}
